<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NBInventoryDBEntities" connectionString="metadata=res://*/NBInventoryDBModel.csdl|res://*/NBInventoryDBModel.ssdl|res://*/NBInventoryDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=NBInventoryDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>